# Dependency directories
node_modules/

# package-lock.json will not be published, so no need to store it
package-lock.json

# Files for local development
.DS_Store
.env

# Directories for local development
dist/